// |--------------------------------------------------------------------------
// | FORMS
// |--------------------------------------------------------------------------

.contact-page{
	textarea{
		height: 134px !important;
	}
}

.comment-section{
	textarea{
		height: 169px;
	}
}

.admin-add-story,
.admin-edit-story{
	textarea{
	  min-height: 220px !important;
	}
}
