// |--------------------------------------------------------------------------
// | IMAGES
// |--------------------------------------------------------------------------

.home-page,
.stories-page{
	.uk-card{
		.avatar-img{
			width: 40px !important;
			height: 40px !important;}
	}
}

.admin-sidebar-section{
	.uk-card{
		.avatar-img{
			width: 50px !important;
			height: 50px !important;}
	}
}