// |--------------------------------------------------------------------------
// | TABLES
// |--------------------------------------------------------------------------

[class*=admin-] .admin-list-table{
	max-height: 289px !important;
	overflow-y: auto;
	width:100%;
}
